
<div class="container">
  <h1>Rejoindre une Partie</h1>

  <div class="card">
    <h2>Entrer les Détails de la Partie</h2>
    <label for="gameId">ID de la Partie :</label>
    <input
      id="gameId"
      type="number"
      [(ngModel)]="gameId"
      class="input-field"
      placeholder="Entrez l'ID de la Partie"
    />

    <label for="playerName">Nom du Joueur :</label>
    <input
      id="playerName"
      type="text"
      [(ngModel)]="playerName"
      class="input-field"
      placeholder="Entrez votre nom"
    />

    <button class="btn" (click)="joinGame()">Rejoindre la Partie</button>
  </div>

  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>