<div class="container">
  <h1>Créer et Rejoindre une Partie</h1>

  <div class="card">
    <h2>Créer une Partie</h2>
    <label for="rounds">Nombre Total de Manches :</label>
    <input
      id="rounds"
      type="number"
      [(ngModel)]="totalRounds"
      min="1"
      class="input-field"
    />
    <button class="btn" (click)="createGame()">Créer la Partie</button>
    <p *ngIf="isGameCreated" class="success-message">
      Partie créée avec succès ! ID de la Partie : <strong>{{ gameId }}</strong>
    </p>
  </div>

  <div *ngIf="isGameCreated" class="card">
    <h2>Rejoindre la Partie</h2>
    <label for="playerName">Nom du Joueur :</label>
    <input
      id="playerName"
      type="text"
      [(ngModel)]="playerName"
      class="input-field"
    />
    <button class="btn" (click)="joinGame()">Rejoindre la Partie</button>
  </div>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
