<div class="container">
  <h1>Salle d'Attente</h1>

  <div class="card">
    <h2>ID de la Partie : <span class="game-id">{{ gameId }}</span></h2>
    <div *ngIf="!isSecondPlayerJoined" class="spinner-container">
      <div class="spinner"></div>
      <p class="waiting-text">En attente de l'arrivée du second joueur...</p>
    </div>
    <p *ngIf="isSecondPlayerJoined && !showModal" class="success-message">
      Le second joueur a rejoint ! Préparation pour démarrer la partie...
    </p>
  </div>

  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
      <h2>La Partie Commence Bientôt !</h2>
      <p>La partie commencera dans <span class="countdown">{{ countdown }}</span> secondes.</p>
    </div>
  </div>
</div>